.page {
    padding-bottom:50vh;
}
.section {
    /* position: relative; */
    padding: 2rem;
    display: flex;

}

.step {
    position: sticky;
    top: 2rem;
    height: fit-content;
}

.content{

}