.page {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* container-type: inline-size;
    container-name: page; */
}

.textContainer {
    width: 100%;
    /* background-color: aliceblue; */
    padding: 2rem;
}

.textContainer p {
    background-color: aliceblue;
    text-align: center;
    font-weight: 800;
}