.page {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: medium;
    padding-top:6rem;
}

.textContainer {
    width: 100%;
    padding: 2rem;
}

.textContainer p {
    text-align: center;
    font-weight: 800;
}