.page{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
}

.button{
    cursor: pointer;
    border: transparent;
    background-color: transparent;
    transform: scale(100%);
}

.button:focus {
    outline: none;
    box-shadow: none;
}

.scaleButtonAnimation{
    animation: scale 0.2s ease-in;
}

@keyframes scale {
    0%   {transform: scale(100%)}
    50%  {transform: scale(110%)}
    100% {transform: scale(100%)}
  }

