.page {
    /* background-color:rgba(0,0,0,0.05); */
    height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.dialog {
    width: 100%;
    max-width: 20rem;;
    padding: 1rem;
    position: absolute;
    margin: auto;
    z-index: 10;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: scroll;
    max-height: 80vh;
    outline: 1px rgba(255, 255, 255, 0.1) solid;
}

.content {
    animation-name: animateMaxHeight;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    will-change: max-height;
    overflow: hidden;
}

@keyframes animateMaxHeight {
    from {max-height: 10vh; min-height: 0vh; opacity: 20%; transform: translateY(0.25rem);}
    to {max-height: 90vh; min-height: 0vh; opacity: 100%; transform: translateY(0)} 
    /* setting to maximum. Any height will do but maximum is best for proper transition */
  }

.content.loading{
    will-change: max-height;
    max-height: 10vh;
    min-height: 50vh;
}

.dialogInner {
    position: relative;
    z-index: 10;
}

.dialogNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.toggles {
    display: flex;
}

.toggles button {
    margin-right: 0.5rem;
}

.button {
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    font-size: 0.9rem;
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.2);
    color: black;
}

@media (prefers-color-scheme: dark) {
    .button {
        background-color: white;
    }
}