.page{
    /* background-color:rgba(0,0,0,0.05); */
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog{
    width: 20rem;
    padding: 1rem;
    position: relative;
    z-index:10;
}

.dialogBackground{
    z-index:9;
    content:"";
    display: block;
    position: absolute;
    width: 100%;
    /* height: 100%; */
    top:0px;
    left:0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 0.5rem;
    outline: 1px rgba(255,255,255,0.1) solid;
    background-color:white;
    transition: height 0.3s ease-out;
}

.dialogInner{
    position: relative;
    z-index: 10;
}

.dialogNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:1rem;
}

.toggles{
    display:flex;
}

.toggles button{
    margin-right:0.5rem;
}

.content img{
    width: 100%;
    border-radius: 0.25rem;
}

.content > div{
    transition: opacity 0.5s ease-out;
    transform-origin: top left;
    color:black;
}

