.h1{
  will-change: transform;
  transition: transform .1s ease-out;
}

.headers{
  position:relative;
}

.HeaderLarge{
  /* padding:1rem; */
  padding-top:4rem;
  padding-bottom:0rem;
  background-color: transparent;
  margin: 0 auto;
  position:relative;
  z-index: 1;
  will-change: opacity;
  transition: opacity .1s ease-out;
}


.HeaderSmall{
  background-color: rgba(255,255,255, 0.5);
  backdrop-filter: blur(0.2rem);
  border-bottom: 1.2px solid;
  padding: 1rem;
  font-size: 0.5rem;
  text-align: left;  
  position:fixed;
  top:0rem;
  width: 100%;
  z-index: 1;
  will-change: transform;
  transition: transform .1s ease-out;
  scroll-snap-align: start;
}


.content{
  padding:0rem 1rem;
}