.wrapper{
    margin: 1rem auto;
    position: relative;
    overflow: hidden;
    border-radius: 0.25rem;
    background-color: black; /*important so there is no "white line" in the middle*/
}

@media (min-width: 768px){
    .wrapper{
        width: 50%;
    }
}

.wrapper img {
    width: 100%;
    height: auto;
    transform: scale(105%);
}

.maskOne{
    -webkit-mask-image: linear-gradient(to top, transparent, transparent, black, black, black);
    mask-image: linear-gradient(to top, transparent, black, black);
}

.maskTwo{
    -webkit-mask-image: linear-gradient(to top, black, black, transparent,  transparent);
    mask-image: linear-gradient(to top, black, transparent);
    filter: blur(0.4rem) brightness(120%) saturate(80%);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    mix-blend-mode: soft-light;
    background: linear-gradient(to top, black, transparent);
}

.content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.content h3{
    color:white;
    text-shadow: 2px 2px #000000;
}